<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="temps/temp :: fragment"></head>

<body >
<div class="container-fluid h-100">
    <div style="height: 7%"></div>
    <div class="h-25">
        <div class="row justify-content-sm-center  mt-3 h-100">
            <div class="col col-sm-3 text-center no-float">
                <a href="/myShop" class="btn btn-primary btn-lg w-100 p-3 h-100 d-flex justify-content-center align-items-center" >My shop</a>
            </div>
            <div class="col col-sm-3 text-center no-float">
                <button onclick="cashInOutModal('Cash withdrawal')" class="btn btn-primary btn-lg w-100 p-3 h-100 d-flex justify-content-center align-items-center" >Pay out</button>
            </div>
            <div class="col col-sm-3 text-center no-float">
                <button onclick="cashInOutModal('Cash acceptance')" class="btn btn-primary btn-lg w-100 p-3 h-100 d-flex justify-content-center align-items-center" >Pay in</button>
            </div>
        </div>
    </div>
    <div class="h-25">
        <div class="row justify-content-sm-center  mt-3 h-100">
            <div class="col col-sm-3 text-center no-float">
                <button  onclick="$('#returnProdModal').modal('show');" class="btn btn-primary btn-lg w-100 p-3 h-100 d-flex justify-content-center align-items-center">Purchase returns</button>
            </div>
            <div class="col col-sm-3 text-center no-float">
                <button  onclick="$('#writeOff').modal('show');" class="btn btn-primary btn-lg w-100 p-3 h-100 d-flex justify-content-center align-items-center" >Write off the product</button>
            </div>
            <div class="col col-sm-3 text-center no-float">
                <button  onclick="$('#deliveryModal').modal('show');" class="btn btn-primary btn-lg w-100 p-3 h-100 d-flex justify-content-center align-items-center" >Accept delivery</button>
            </div>
        </div>
    </div>
    <div class="h-25">
        <div class="row justify-content-sm-center mt-3 h-100">
            <div class="col col-sm-3 text-center no-float ">
                <button  onclick="$('#finish').modal('show')" th:disabled="${shift ? false : true}" class="btn btn-primary btn-lg w-100 p-3 h-100 d-flex justify-content-center align-items-center" >Finish shift</button>
            </div>
            <div class="col col-sm-3 text-center no-float">
                <button onclick="$('#printReport').modal('show');" class="btn btn-primary btn-lg w-100 p-3 h-100 d-flex justify-content-center align-items-center" >Print report</button>
            </div>
            <div class="col col-sm-3 text-center no-float">
                <button onclick="exit()" class="btn btn-primary btn-lg w-100 p-3 h-100 d-flex justify-content-center align-items-center" >Exit</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="temps/temp :: time"></div>

<div th:replace="temps/temp :: startShift"></div>

<div th:replace="temps/temp :: returnProdModal"></div>

<div th:replace="temps/temp :: finish"></div>

<div th:replace="temps/temp :: report"></div>

<div th:replace="temps/temp :: writeOff"></div>

<div th:replace="temps/temp :: cashInOut"></div>

<div th:replace="temps/temp :: deliveryNumber"></div>

<div th:replace="temps/temp :: printReport"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
<style>
    html, body {
        height: 100%;
        margin: 0;
    }
</style>
<script type="text/javascript" th:inline="javascript">

    $(window).on('load', () => {
        if (![[${shift}]] && ![[${shiftWorker}]])  $('#shiftModal').modal('show');
    });

    const token = $("meta[name='_csrf']").attr("content");
    const header = $("meta[name='_csrf_header']").attr("content");

    function cashInOutModal(type) {
        $('#cashInOutLbl').text(type);
        $('#cashInOut').modal('show');
    }

    function cashInOut() {
        let amount = $('#amount').val();
        let comment = $('#comment').val();
        let type = (~$('#cashInOutLbl').text().indexOf("withdrawal")) ? 'out' : 'in';

        $.ajax({
            type: 'post',
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            url: 'http://localhost:8080/cash',
            data: jQuery.param({ amount: amount, comment: comment, type: type}) ,
            success : function(data) {
                $('#cashInOut').modal('hide');
            }
        });
    }

    function finishWork(report) {
        $.ajax({
            type: 'GET',
            contentType : "application/json",
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            url: 'http://localhost:8080/finish',
            data: jQuery.param({ param: report}) ,
            success : function(data) {
                console.log("SUCCESS: ", data);
               logOut();
            }
        });
    }

    function exit() {
        $.ajax({
            type: 'GET',
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            url: 'http://localhost:8080/exit',
            success : function(data) {
                console.log("SUCCESS: ", data);
                logOut();
            }
        });
    }

    function logOut() {
        $.ajax({
            type: 'POST',
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            url: 'http://localhost:8080/logout',
            success : function() {
                window.location = "http://localhost:8080/"
            }
        });
    }

    function findProduct(val) {
        let text = $('#barcode').val();
        if (text.length === val){
            $.ajax({
                type: 'get',
                contentType : "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token)
                },
                url: 'http://localhost:8080/find-product',
                data: jQuery.param({ code: text}) ,
                success : function(data) {
                    if (data === 'error'){
                        $('#barcode').addClass('is-invalid');
                        $('#prodName').val(' ');
                    }
                    else {
                        $('#barcode').addClass('is-valid');
                        $('#prodName').val(data);
                    }
                },
                error : function(e) {
                    $('#prodName').val(' ');
                },
            });
        }else {
            $('#barcode').removeClass('is-invalid');
            $('#barcode').removeClass('is-valid');
            $('#prodName').val(' ');
        }
    }
</script>
</html>