<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="temps/temp :: fragment"></head>

<body><script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<div class="container-fluid h-100">
    <form th:action=" @{/addEmployee}" method="post"
          oninput='pass2.setCustomValidity(pass2.value != pass1.value ? "Passwords do not match." : "")'>
        <div class="row mt-3" >
            <div class="col-sm-5">
                <a href="/myShop" role="button"  class="btn btn-danger mt-2 ml-2"><i class="fas fa-times fa-2x mt-2" ></i></a>
            </div>
            <div class="col-sm-6 mt-2">
                <label class="h2 mt-2" th:text="${employee} ? 'Edit personal data' : 'Add new employee'"></label>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <div class="row d-flex align-items-center" >
                <div class="col-sm-5 d-flex justify-content-end mt-3">
                    <div class="col-sm-3 mr-5">
                        <label  for="position" class="h5">Position</label>
                    </div>
                </div>
                <div class="col-sm-4 d-flex justify-content-end mt-3">
                    <select required class="selectpicker" title="Choose position of employee" name="position"
                            id="position"  data-width="100%" data-size="4" >
                        <option th:each="position : ${positions} " th:text="${position.name}" th:value="${position.getIdPosition()}"
                                th:selected="${employee} ? (${employee.position.name == position.name} ? true : false) : false"></option>
                    </select>
                </div>
                <div class="col-sm-5 d-flex justify-content-end mt-3">
                    <div class="col-sm-3 mr-5">
                        <label  for="role" class="h5">Role</label>
                    </div>
                </div>
                <div class="col-sm-4 d-flex justify-content-end mt-3">
                    <select required class="selectpicker" title="Choose role of employee" name="roles" multiple
                            id="role"  data-width="100%" data-size="3" >
                        <option th:value="EMPLOYEE" th:text="EMPLOYEE" th:selected="${employee} ? (${roles.contains('EMPLOYEE')} ? true : false) : false" ></option>
                        <option th:value="ADMIN" th:text="ADMIN" th:selected="${employee} ? (${roles.contains('ADMIN')} ? true : false) : false"></option>
                    </select>
                </div>
                <div class="col-sm-5 d-flex justify-content-end mt-3">
                    <div class="col-sm-3 mr-5">
                        <label  for="firstName" class="h5">First name</label>
                    </div>
                </div>
                <div class="col-sm-4 d-flex justify-content-end mt-3">
                    <input type="text" required class="form-control" id="firstName" placeholder="Input First name"  th:value="${employee} ? ${employee.name}" name="firstName">
                </div>
                <div class="col-sm-5 d-flex justify-content-end mt-3">
                    <div class="col-sm-3 mr-5">
                        <label  for="lastName" class="h5">Last name</label>
                    </div>
                </div>
                <div class="col-sm-4 d-flex justify-content-end mt-3">
                    <input type="text" required class="form-control" id="lastName" placeholder="Input Last name"  th:value="${employee} ? ${employee.surname}" name="lastName">
                </div>
                <div class="col-sm-5 d-flex justify-content-end mt-3">
                    <div class="col-sm-3 mr-5">
                        <label  for="contact" class="h5">Contact</label>
                    </div>
                </div>
                <div class="col-sm-4 d-flex justify-content-end mt-3">
                    <input type="text" required class="form-control" id="contact" placeholder="Phone number"  th:value="${employee} ? ${employee.contact}" name="contact">
                </div>
                <div class="col-sm-5 d-flex justify-content-end mt-3">
                    <div class="col-sm-3 mr-5">
                        <label  for="birth" class="h5">Date of birth</label>
                    </div>
                </div>
                <div class="col-sm-4 d-flex justify-content-end mt-3">
                    <input type="date" required class="form-control" id="birth" placeholder="Input Date of birth"  th:value="${employee} ? ${employee.dateOfBirthday}" name="birth">
                </div>
                <div class="col-sm-5 d-flex justify-content-end mt-3">
                    <div class="col-sm-3 mr-5">
                        <label  for="login" class="h5">Login</label>
                    </div>
                </div>
                <div class="col-sm-4 d-flex justify-content-end mt-3">
                    <input type="text" class="form-control" id="login" placeholder="Input login"  th:value="${password} ? ${password.login}" name="login" required>
                </div>
                <div class="col-sm-5 d-flex justify-content-end mt-3">
                    <div class="col-sm-3 mr-5">
                        <label  for="pass1" class="h5">Password</label>
                    </div>
                </div>
                <div class="col-sm-4 d-flex justify-content-end mt-3">
                    <input type="password" required class="form-control" id="pass1" placeholder="Input Password"  th:value="${password} ? ${password.password}" name="pass1">
                </div>
                <div class="col-sm-5 d-flex justify-content-end mt-3">
                    <div class="col-sm-3 mr-5">
                        <label  for="pass2" class="h5">Password</label>
                    </div>
                </div>
                <div class="col-sm-4 d-flex justify-content-end mt-3">
                    <input type="password" required class="form-control" id="pass2" placeholder="Confirm Password"  th:value="${password} ? ${password.password}">
                    <input type="hidden"  class="form-control" id="start"  name="start" th:value="${password} ? ${currentContract.dateStart}">
                    <input type="hidden"  class="form-control" id="finish" name="finish" th:value="${password} ? ${currentContract.dateEnd}">
                </div>
            </div>
        </div>
        <div class="col-sm-9 d-flex justify-content-end mt-3 ml-4">
            <div class="col-sm-5 ">
                <button type="button" onclick="$('#showEmployeesContracts').modal('show')" th:text="${currentContract} ? 'Show contracts' : 'Create contract'" class="btn btn-primary btn-lg mb-3  w-100 h-100"></button>
            </div>
            <div class="col-sm-3 ">
                 <button type="submit"  class="btn btn-success btn-lg mb-3  w-100 h-100">Save</button>
            </div>
        </div>
        <input type="hidden" th:value="${employee} ? ${employee.idWorker}" name="idWorker">
    </form>
</div>

<div th:replace="temps/temp :: addContractModal"></div>
<div th:replace="temps/temp :: showEmployeesContracts"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
<script type="text/javascript">
 function showContracts(){
     $('#addContractModal').modal('show')
}
function addNewContract() {
    $('#showEmployeesContracts').modal('show')
}

 let some;
 $(document).ready( function () {
     some = $('#contracts').DataTable({
         "sScrollY": "50vh",
         "sDom": "frtiS",
         "bDeferRender": true
     } );
 } );

 function setDates() {
     $('#start').val($('#dateStart').val());
     $('#finish').val($('#dateFinish').val());
     $('#contracts').DataTable().row.add(
         [
             'some',
             $('#dateStart').val(),
             $('#dateFinish').val()
         ]
     ).draw(false);

 }

</script>
<style>
    html, body {
        height: 100%;
        margin: 0;
    }
</style>

</html>